/*Custom CSS Style Sheet.  Somewhat Brutalist.  Written by John Mays, DEC 2019. */
h3{
	font-size: 120%;
}

body{
	color: #ffffff;
	background-color: #1A1A1A;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"
}

header img{
	width: 60%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*font-size: 300%;
  	position: relative;
  	text-align: center;*/
}

a{
	color: inherit;
	text-decoration: inherit;
}

.pageTitle{
	position: absolute;
  	top: 10%;
  	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 8px -8px #1A1A1A;
}

.topNav{
	background-color: #2D2D2D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	
  	position: absolute;
  	left: 50%;
  	transform: translate(-50%);
	z-index: 1;
}

.topNav a{
	text-align: center;
	background-color: #1A1A1A;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.topNav button{
	background-color:#1A1A1A;
	color: #FFFFFF;
	border: none;
	font-family: inherit;
	font-size: inherit;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	
}

.dropDown{
	display: inline-block;
	position: relative;
}

.dropDownContents{
	display: none;
	position: absolute;
	background-color: #1A1A1A;
	z-index: 2;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

.dropDownBox{
	padding-top: 4px;
	padding-bottom: 4px;
}

.dropDownContents a{
	text-align: left;
	display: block;
	background-color: #2D2D2D;
	left-padding: 8px;
	right-padding: 20px;
}


.dropDown:hover .dropDownContents{
	display: block;
}

.pageContents{
	height: auto;
	display: flex;
	z-index: 1;
}

.contentBox{
	background-color: #1A1A1A;
	flex: 50%;
	padding: 10px;
}

.aboutSection{
	background-color: #2D2D2D;
	padding: 10px;
}

.currentWorkSection{
	background-color: #2D2D2D;
	padding: 10px;
	display: inline-flex;
}

.currentWorkSectionText{
	flex: 40%;
}

.currentWorkSectionGraphic{
	padding-left: 5px;
	padding-right: 9px;
	padding-bottom: 9px;
	flex: 60%;
}

.currentWorkSectionGraphic img{
	width: 100%;
	height: auto;
	box-shadow: 9px 9px #FFFFFF;
}

address{
	text-align: center;
	clear: left;
}

