/*@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');*/

@font-face {
  font-family: 'Inconsolata', monospace;
  src: local('Inconsolata'), url('./assets/fonts/Inconsolata-Regular.woff') format('woff');
}

* {
  font-family: Inconsolata, monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171b1c;
  color: #bc955c
}

.app{/* container for everything on page including navbar and footer */
  position: relative;
  min-height: 100vh;
}

.page-content {/* container for everything besides navbar and footer */
  padding: 20px;
  z-index: 0;
  position: relative;
  padding: 3rem;
}

/* GENERAL PAGE CONTENT: */

.content-box{
  display: flex;
  flex-direction: column;
}

.content-box h1,p,img{
  margin: auto;
}

.content-box p{
  margin-top: 20px;
  width: 50%;
  display: inline-block;
  text-align: left;
}

.summary-box p{ /* Basically only to do centering on home page */
  text-align: center;
}

.content-box img {
  margin-top: 20px;
}

a {
  text-decoration: none;
}

.summary-box img{
  width: 45vh;
}

.text-link {
  text-decoration: underline;
  color: #bc955c;
}

.text-link:hover {
  color: #017dbb;
}

/* NAVBAR: */

.navbar, button {
  color: #171b1c;
  background-color: #017dbb;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: fit-content;
  border-radius: 8px;
  z-index: 2;
}

.navbar{
  margin-top: 10px;
  position: fixed;
}

.nav-link {
  padding: 10px;
  border-radius: 6px;
  color: #171b1c;
  text-decoration: none;
  transition: background-color 0.7s;
  z-index: 4;
  position: relative;
}

.hover-selector {
  top: 10px;
  bottom: 10px;
  background-color: #bc955c;
  border-radius: 6px;
  position: absolute;
  opacity: 0;
  z-index: 3;
}

.nav-link:hover ~ .hover-selector {
  opacity: 1;
}

/* RESUME DISPLAY: */

.resume-content {/* containter for resume image + download button */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.resume-content img {
  width: auto;
  height: 65vh;
}

/* BUTTONS: */

button {
  border: 0;
  margin: auto;
  margin-top: 20px;
  font-size: medium;
}

button:hover {
  color: #bc955c;
  cursor:pointer;
}

/* PROFILE PAGE: */

.profile-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.profile-box {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.profile-box h3{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #bc955c;
}

.profile-logo {
  fill: #bc955c;
}

.profile-box:hover > .profile-logo{
  fill: #017dbb;
}

.profile-box:hover h3{
  color: #017dbb;
}

/* NOTFOUND/404: */

.not-found-box img {
  width: 300px;
}

/* RECOMMENDER TAB: */

.recommender-tab {
  position: fixed;
  color: #171b1c;
  background-color: #017dbb;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  bottom: 50px;
  right: 0px;
  transform: translateX(100%) translateX(-40px);
  transition: transform 0.7s;
}

.recommender-tab .text-link{
  color: #171b1c;
}

.recommender-tab .text-link:hover {
  color: #bc955c;
}

.recommender-tab:hover {
  transform: translateX(10px);
}

.recommender-tab p {
  padding: 10px;
  margin-right: 10px;
}

.handle{
  height: auto;
  border-radius: 2px;
  width: 4px;
  left: 10px;
  margin-right: 20px;
  background-color: #bc955c;
}

/* FOOTER: */

.footer {
  text-align: center;
  margin-top: 20px;
  bottom: 10px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* MOBILE RESPONSIVENESS: PAGE CONTENT: */

/* MOBILE RESPONSIVENESS: NAVBAR: */

@media (max-width: 1024px) {

  .summary-box img{
    width: 65%;
  }

  .content-box p{
    width: 65%;
  }

  .resume-content img {
    width: 85vw;
    height: auto;
  }

  .profile-box {
    width: 300px;
  }
  
}

@media (max-width: 768px) {
  .hover-selector {
    display: none;
  }

  .recommender-tab {
    display: none;
  }

  .summary-box img{
    width: 75%;
  }

  .content-box p{
    width: 75%;
  }

  .profile-box {
    width: 225px;
  }

}

@media (max-width: 576px) {
  .summary-box img{
    width: 90%;
  }

  .content-box p{
    width: 90%;
  }

}

@media (max-width: 412px) {
  .profile-box {
    width: 200px;
  }
}