* {
  font-family: Consolas;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a191f;
  color: #fafafe
}

.navbar, button {
  color: #fafafe;
  background-color: #26252d;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: fit-content;
  border-radius: 8px;
  position: fixed;
  z-index: 2;
}

/*.spacer {
  padding-top: 40px;
  height: 1rem;
  opacity: 0%;
}*/

.nav-link {
  padding: 10px;
  border-radius: 6px;
  color: #fafafe;
  text-decoration: none;
  transition: background-color 0.7s;
  z-index: 4;
  position: relative;
}

.hover-selector {
  top: 10px;
  bottom: 10px;
  background-color: #87878d;
  border-radius: 6px;
  position: absolute;
  opacity: 0;
  z-index: 3;
}

.nav-link:hover ~ .hover-selector {
  opacity: 1;
}

.page-content {
  padding: 20px;
  z-index: 0;
}

.pdf-window, .button-box {
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

button {
  border: 0;
  margin: 10px;
}

button:hover {
  color: #87878d;
}

.profile-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.profile-box {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.profile-box h3{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #fafafe;
}

.profile-logo {
  fill: #fafafe;
}

.profile-box:hover > .profile-logo{
  fill: #87878d;
}

.profile-box:hover h3{
  color: #87878d;
}

a {
  text-decoration: none;
}