* {
  font-family: Consolas;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a191f;
  color: #fafafe
}

.navbar, button{
  color: #fafafe;
  background-color: #26252d;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-align: center;
  width: fit-content;
  border-radius: 8px;
  position: relative;
}

.nav-link {
  padding: 10px;
  border-radius: 6px;
  color: #fafafe;
  text-decoration: none;
  transition: background-color 0.7s;
  z-index: 3;
  position: relative;
}
/*.nav-link:hover {
  background-color: #87878d;
  transition: background-color 0.1s;
}*/

.hover-selector {
  top: 10px;
  bottom: 10px;
  background-color: #87878d;
  border-radius: 6px;
  position: absolute;
  opacity: 0;
  z-index: 2;
  /*transition: opacity 0.3s, left 0.5s, right 0.5s;*/
}

.nav-link:hover ~ .hover-selector {
  opacity: 1;
}

/*.hover-selector:hover {
  right: 20px;
}*/

.page-content {
  padding: 20px;
}

.pdf-window, .button-box {
  display: flex;
  justify-content: space-around;
}

button {
  border: 0;
  margin: 10px;
}

button:hover {
  color: #87878d;
}